@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.txt-thin {
  font-weight: lighter;
}

.txt-thick {
  font-weight: 700;
}

.txt-green {
  color: #2ecc71;
}

p {
  font-size: 20px;
}

.heading-secondary {
  text-transform: lowercase;
  color: #2ecc71;
}

.heading-primary {
  font-size: 50px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #221f3b;
}

.navbar-brand img {
  width: 30px;
}

a.navbar-brand {
  font-size: 25px;
}

.brand-name {
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
}

.bg-color {
  background: #221f3b;
}

.nav-link {
  margin: 0 8px;
  font-size: 20px;
}

.section-home {
  background-color: #221f3b;
  padding: 250px 100px 350px;
}

.section-about {
  position: relative;
  z-index: 10;
  padding: 150px 0;
  margin-top: -150px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  background-color: white;
}

.section-services {
  padding: 150px 0;
  background: #221f3b;
  margin-top: -150px;
}

.home__headings {
  color: white;
}

.home__headings h1 {
  font-size: 80px;
  margin: 40px 0;
}

.home__headings h2 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;
}

.about {
  position: relative;
  text-align: center;
}

.about__overview {
  margin-top: -240px;
}

.about__overview-item {
  background-color: white;
  text-transform: uppercase;
  padding: 40px 20px;
  border-radius: 40px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.about__overview-item i {
  color: #2ecc71;
  font-size: 55px;
  margin-bottom: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.about__overview-item:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  background-color: #2ecc71;
  color: white;
}

.about__overview-item:hover i {
  color: white;
}

.about__heading {
  margin: 50px 0;
}

.about__content-text {
  text-align: left;
}

.services__heading {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}

.services__offer-item {
  cursor: pointer;
  background-color: #2f2b53;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px 40px;
  margin: 15px 0;
}

.services__offer-item--icon {
  font-size: 80px;
  color: #2ecc71;
  text-align: center;
}

.services__offer-item--text h6 {
  text-transform: uppercase;
  color: #2ecc71;
  margin: 5px 0;
}

.services__offer-item--text i {
  color: #2ecc71;
}

.services__offer-item--text hr {
  background-color: #2ecc71;
}

.services__offer-item--text h5 {
  color: white;
}

.services__offer-item--text p {
  font-size: 18px;
  color: white;
  font-weight: lighter;
}

.services__offer-item--text .arrow-icon {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.services__offer-item:hover .arrow-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.img-padding {
  padding: 10px 380px;
}
/*# sourceMappingURL=main.css.map */