.home 
{
    &__headings
    {
        color: white;
        h1 
        {
            font-size: 80px;
            margin: 40px 0;
        }
        h2 
        {
            text-transform: uppercase;
            font-weight: lighter;
            letter-spacing: 3px;
        }
    }
}