.services 
{
    &__heading 
    {
        margin-top: 100px;
        text-align: center;
        margin-bottom: 50px;
    }

    &__offer 
    {
        &-item 
        {
            cursor: pointer;
            background-color: $color-primary-light;
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(black, .3);
            padding: 20px 40px;
            margin: 15px 0;

            &--icon 
            {
                font-size: 80px;
                color: $color-green-1;
                text-align: center;
            }

            &--text 
            {
                h6 
                {
                    text-transform: uppercase;
                    color: $color-green-1;
                    margin: 5px 0;
                }

                i 
                {
                    color: $color-green-1;
                }

                hr 
                {
                    background-color: $color-green-1;
                }

                h5 
                {
                    color: white;
                }

                p 
                {
                    font-size: 18px;
                    color: white;
                    font-weight: lighter;
                }

                .arrow-icon 
                {
                    transition: all .2s;
                }
            }

            &:hover .arrow-icon
            {
                transform: rotate(180deg);
            }
        }
    }
}

.img-padding 
{
    padding: 10px 380px;
}