.section-home 
{
    background-color: $color-primary;
    padding: 250px 100px 350px;
}

.section-about 
{
    position: relative;
    z-index: 10;
    padding: 150px 0;
    margin-top: -150px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    background-color: white;
}

.section-services 
{
    padding: 150px 0;
    background: $color-primary;
    margin-top: -150px;
}