.section-home 
{
    background-color: $color-primary;
    height: 140vh;
}

.section-about 
{
    position: relative;
    z-index: 10;
    padding: 150px 0;
    margin-top: -150px;
    border-top-left-radius: 150px;
    background-color: white;
}